// Colors
$background: "#f9f9f9";
$blue: "#03b93d";
$card-background: "#FFFFFF";
$text-color: "#333333";
$footer-background: "#454554";

//Fonts
$primarySize: 16px;

// Scren sizes
$mobile: 375px;
$tablet: 810px;
