// Colors
$background: #f9f9f9;
$blue: #04b9ee;
$unlike: #c1c1c1;
$card-background: #ffffff;
$text-color: #333333;
$footer-background: #454554;
$color-shadow: #474747;

//Fonts
$primarySize: 16px;

// Scren sizes
$mobile: 375px;
$tablet: 810px;
