// Colors
$background: #f9f9f9;
$blue: #04b9ee;
$color-icon: #808080;
$card-background: #ffffff;
$text-color: #333333;
$footer-background: #454554;
$color-shadow: #474747;
$blur: #4747477d;
//Fonts
$primarySize: 16px;

// Scren sizes
$mobile: 375px;
$tablet: 810px;
